/* Common css Start */
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Common css End */

/* Head Start */
#Head {
  height: 100px;
  background: #fff8f3;
}

.Menu {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}

.list ul {
  display: flex;
}

.list ul li {
  padding: 0 35px;
}

.list ul li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #474747;
}

.click {
  padding: 16px 30px;
  border-radius: 5px;
  text-align: center;
  background: #fd6e0a;
  color: white;
  margin: -15px 0;
  font-weight: 600;
}

/* Head End */